div.relleno {
    width: 100%;
    height: 100%;
    background-image: url("../Assets/pug-dog-dancing.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
}